body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-weight: 300;

  background: FFFFFF;
  color: #1C0D33;
}

.container{
  margin: 0 8vw;
}

.pageTitle{
  font-size: 48px;
  font-weight: 800;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.tableHeader{
  font-size: 18px;
  background: #4E295B;
  color: #FFF;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}

.roomDate:hover{
  cursor: pointer;
  text-decoration: underline;
}

.homeLink{
  position: absolute;
  top: 10%;
  right: 10%;
}

.reserved{
  background: #FFD3C3;
}

.free{
  background: #A2BBFC;
}

.roomDate:hover{
  cursor: pointer;
}